server:
  port: 8080
spring:
  datasource:
      name: graduationdesign
      url: jdbc:mysql://127.0.0.1:3306/graduationdesign?characterEncoding=utf8&useSSL=false&serverTimezone=UTC
      username: root
      password: 123456
      # 使用druid数据源
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.cj.jdbc.Driver
      filters: stat
      maxActive: 20
      initialSize: 1
      maxWait: 60000
      minIdle: 1
      timeBetweenEvictionRunsMillis: 60000
      minEvictableIdleTimeMillis: 300000
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxOpenPreparedStatements: 20
#mybatis:
#  mapper-locations: cn.mikey.eas.Mapper/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
#  type-aliases-package: cn.mikey.eas.Pojo # 注意：对应实体类的路径
#  configuration:
##  驼峰法命名
#    map-underscore-to-camel-case: false
#pagehelper分页插件
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
#  打印日志
logging:
  level:
    #Mapper所在的包
    com.mikey.eas.Mapper: debug